{% extends 'base_layout.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 class="text-center">Markets at a Glance</h1>
<div id="row" class="row text-center" style="padding-bottom: 15px">
    <div id="glanceDJI" class="col-sm-4">
        {{context.cardDJI}}
    </div>
    <div id="glanceSPXX" class="col-sm-4">
        {{context.cardSPXX}}
    </div>
    <div id="glanceCOMPX" class="col-sm-4">
        {{context.cardCOMPX}}
    </div>
</div>
<p class="text-center text-muted"><i>Auto-refreshes every 5 seconds</i></p>
<hr>
<h1 class="text-center">Stock Quote &amp; Information Lookup</h1>
<div class="row text-center">
    <div class="col-md-8 offset-md-2">
        <div class="card bg-light text-dark shadow">
            <h5 class="card-header">Direct Lookup by Symbol or Search TD's Database by Name</h5>
            <div class="card-body">
                <form name="form" method="post" onsubmit="{{url_for('home')}}">
                    <div class="form-group">
                        <label for="search">Enter a Valid, Existing Stock (no starting $) or Index Symbol (with starting $) Search by Name Fragment or Full Name:</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Ex: TSLA (Stock Symbol), $DJI (Index Symbol), Tesla (Fragment), or Tesla, Inc. - Common Stock (Full Name)" id="search" name="search" required autocomplete>
                    </div>
                    <button id="submit" type="submit" class="btn btn-dark w-25">Find</button>
                    <button type="reset" class="btn btn-dark w-25">Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div id="loadingSpinner" class="text-center text-dark" style="display: none">
  <div class="spinner-border" role="status"></div>
</div>
<div class="text-center text-danger">
    <h5>{{context.errorMsg}}</h5>
</div>
<div class="modal fade" id="homeResultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="overflow-y: initial !important">
        <div id="modalContent" class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="viewStock" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="overflow-y: initial !important">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">{{context.modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            &times;
        </button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow-y: auto;">
        <div>
            {{context.modalQuote}}
        </div>
        <br>
        <div class="card bg-light text-center">
            <div id="chartCard" class="card-body"></div>
            <div class="card-footer">
                <b>Chart Options</b>
                <br>
                <div class="row justify-content-center" style="padding-bottom: 10px">
                    <i>With Extended Hours:</i>&nbsp;&nbsp;
                    <button id="1dtrue" type="button" class="btn btn-sm btn-dark">
                        1d
                    </button>&nbsp;
                    <button id="3dtrue" type="button" class="btn btn-sm btn-dark">
                        3d
                    </button>&nbsp;
                    <button id="5dtrue" type="button" class="btn btn-sm btn-dark">
                        5d
                    </button>&nbsp;
                    <button id="10dtrue" type="button" class="btn btn-sm btn-dark">
                        10d
                    </button>&nbsp;
                    <button id="1mtrue" type="button" class="btn btn-sm btn-dark">
                        1m
                    </button>&nbsp;
                    <button id="3mtrue" type="button" class="btn btn-sm btn-dark">
                        3m
                    </button>&nbsp;
                    <button id="6mtrue" type="button" class="btn btn-sm btn-dark">
                        6m
                    </button>&nbsp;
                    <button id="1ytrue" type="button" class="btn btn-sm btn-dark">
                        1y
                    </button>&nbsp;
                    <button id="3ytrue" type="button" class="btn btn-sm btn-dark">
                        3y
                    </button>&nbsp;
                    <button id="5ytrue" type="button" class="btn btn-sm btn-dark">
                        5y
                    </button>&nbsp;
                    <button id="YTDtrue" type="button" class="btn btn-sm btn-dark">
                        YTD
                    </button>
                </div>
                <div class="row justify-content-center">
                    <i>Without Extended Hours:</i>&nbsp;&nbsp;
                    <button id="1dfalse" type="button" class="btn btn-sm btn-dark">
                        1d
                    </button>&nbsp;
                    <button id="3dfalse" type="button" class="btn btn-sm btn-dark">
                        3d
                    </button>&nbsp;
                    <button id="5dfalse" type="button" class="btn btn-sm btn-dark">
                        5d
                    </button>&nbsp;
                    <button id="10dfalse" type="button" class="btn btn-sm btn-dark">
                        10d
                    </button>&nbsp;
                    <button id="1mfalse" type="button" class="btn btn-sm btn-dark">
                        1m
                    </button>&nbsp;
                    <button id="3mfalse" type="button" class="btn btn-sm btn-dark">
                        3m
                    </button>&nbsp;
                    <button id="6mfalse" type="button" class="btn btn-sm btn-dark">
                        6m
                    </button>&nbsp;
                    <button id="1yfalse" type="button" class="btn btn-sm btn-dark">
                        1y
                    </button>&nbsp;
                    <button id="3yfalse" type="button" class="btn btn-sm btn-dark">
                        3y
                    </button>&nbsp;
                    <button id="5yfalse" type="button" class="btn btn-sm btn-dark">
                        5y
                    </button>&nbsp;
                    <button id="YTDfalse" type="button" class="btn btn-sm btn-dark">
                        YTD
                    </button>&nbsp;
                </div>
            </div>
        </div>
        <br>
        <div class="card bg-light">
            {{context.modalInfo}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        {{context.nameResults}}
    </div>
</div>
<script>
    /* The script placed here after a post request (after form submission) */
    /* loads the viewStock modal */
    {{context.modalScript}}

    /* These functions call a jQuery load (shorthand Ajax request) to */
    /* refresh each "At a Glance" card element with new html every five */
    /* seconds (each url points to html formatted with the refreshed info) */
    setInterval(function() {
        $("#glanceDJI").load("/refresh/DJI")
    }, 5000)
    setInterval(function() {
        $("#glanceSPXX").load("/refresh/SPXX")
    }, 5000)
    setInterval(function() {
        $("#glanceCOMPX").load("/refresh/COMPX")
    }, 5000)

    /* Displays the loading spinner for the user on valid form submission */
    document.getElementById("submit").onclick = function() {
        const searchValue = document.getElementById("search").value
        if (searchValue != null && searchValue != "") {
            $("#loadingSpinner").toggle();
        }
    }
</script>
{% endblock %}