{% extends 'base_layout.html' %}

{% block head %}
<script>
    /* Enables popovers for this page, which is needed for the hover notice */
    /* for potentially clearing the Max # of Strikes input field */
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    /* Handles the popover warning message to a user when hovering over the */
    /* numStrikesClear anchor element button */
    $(".popover-dismiss").popover({
        trigger: "hover"
    })
</script>
{% endblock %}

{% block body %}
<h1 class="text-center">Options &amp; Option Chain Search</h1>
<div class="row text-center">
    <div class="col-md-8 offset-md-2">
        <div class="card bg-light text-dark shadow">
            <h5 class="card-header">
                Directly Lookup and Filter Options and Option Chains for a Symbol
            </h5>
            <div class="card-body">
                <form method="post" onsubmit="{{url_for('options')}}">
                    <div class="form-group">
                        <label for="search">Enter Stock Symbol:</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Ex: TSLA, AAPL, F, etc." required id="search" name="search" autocomplete>
                            <div class="input-group-append">
                                <button id="clearSearch" type="button" class="btn btn-outline-secondary">&times;</button>
                            </div>
                        </div>
                    </div>
                    <h5><b>Search Filters</b></h5>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="conType">Contract Type:</label>
                                <select class="custom-select" id="conType" name="conType">
                                    <option value="ALL" selected>Calls &amp; Puts</option>
                                    <option value="CALL">Calls</option>
                                    <option value="PUT">Puts</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="numStrikes">
                                    Max # of Strikes:
                                </label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="numStrikes" name="numStrikes" value="10" min="1" max="25" step="1"></input>
                                    <div class="input-group-append">
                                        <a tabindex="0" role="button" id="clearNumStrikes" class="btn btn-outline-secondary" data-toggle="popover" data-trigger="hover" title="Important Notice!" data-content="Searching for an Options Chain without a specifed Max # of Strikes will result in potentially long loading times depending on the symbol.">&times;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="strike">Exact Strike:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            $
                                        </span>
                                    </div>
                                    <input type="number" class="form-control" id="strike" name="strike" min="0.01" step="0.01" placeholder="Any Price"></input>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="range">Range (ITM, OTM, etc.):</label>
                                <select class="custom-select" id="range" name="range">
                                    <option value="ALL" selected>All Possible Contracts</option>
                                    <option value="ITM">ITM: In The Money</option>
                                    <option value="OTM">OTM: Out of the Money</option>
                                    <option value="NTM">NTM: Near The Money</option>
                                    <option value="SAK">SAK: Strikes Above Market Price</option>
                                    <option value="SBK">SAK: Strikes Below Market Price</option>
                                    <option value="SNK">SNK: Strikes Near Market Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="fromDate">Expirations From:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="fromDate" name="fromDate"></input>
                                    <div class="input-group-append">
                                        <button id="clearFromDate" type="button" class="btn btn-outline-secondary">
                                            &times;
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="toDate">Expirations To:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="toDate" name="toDate"></input>
                                    <div class="input-group-append">
                                        <button id="clearToDate" type="button" class="btn btn-outline-secondary">
                                            &times;
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="expMonth">Expiration Month:</label>
                                <select class="custom-select" id="expMonth" name="expMonth">
                                    <option value="ALL" selected>All Months</option>
                                    <option value="JAN">January</option>
                                    <option value="FEB">February</option>
                                    <option value="MAR">March</option>
                                    <option value="APR">April</option>
                                    <option value="MAY">May</option>
                                    <option value="JUN">June</option>
                                    <option value="JUL">July</option>
                                    <option value="AUG">August</option>
                                    <option value="SEP">September</option>
                                    <option value="OCT">October</option>
                                    <option value="NOV">November</option>
                                    <option value="DEC">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="optType">Standard/Non-Standard Contracts (Advanced):</label>
                                <select class="custom-select" id="standard" name="standard">
                                    <option value="ALL" selected>All Contracts</option>
                                    <option value="S">Standard</option>
                                    <option value="NS">Non-Standard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button id="btnSubmit" type="submit" class="btn btn-dark w-25">Find</button>
                    <button id="btnReset" type="reset" class="btn btn-dark w-25">Reset&nbsp;Fields</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div id="loadingSpinner" class="text-center text-dark" style="display: none">
    <div class="spinner-border" role="status"></div>
</div>
<div class="text-center text-danger">
    <h5>{{context.errorMsg}}</h5>
</div>
<div class="modal fade" id="viewOptionChain" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{context.modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body" style="height: 80vh; overflow-y: auto;">
                <div>
                    {{context.modalOptionChain}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{context.modalScript}}
<script>
    /* Defines constants for the form field DOM Elements to decrease */
    /* repetitve getElementById calls and to increase code readability */
    const searchInput = document.getElementById("search")
    const searchClear = document.getElementById("clearSearch")
    const submitButton =  document.getElementById("btnSubmit")
    const resetButton = document.getElementById("btnReset")
    const numStrikesInput = document.getElementById("numStrikes")
    const numStrikesClear = document.getElementById("clearNumStrikes")
    const strikeInput = document.getElementById("strike")
    const rangeInput = document.getElementById("range")
    const fromDateInput = document.getElementById("fromDate")
    const fromDateClear = document.getElementById("clearFromDate")
    const toDateInput = document.getElementById("toDate")
    const toDateClear = document.getElementById("clearToDate")
    const expMonthInput = document.getElementById("expMonth")

    /* Displays the loading spinner for the user on valid form submission */
    submitButton.onclick = function() {
        if (searchInput.value != null && searchInput.value != "") {
            $("#loadingSpinner").toggle();
        }
    }

    /* Enables all possibly disabled form fields upon form value reset */
    resetButton.onclick = function() {
        numStrikesInput.disabled = false
        strikeInput.disabled = false
        fromDateInput.disabled = false
        toDateInput.disabled = false
        expMonthInput.disabled = false
    }

    /* Resets the value of the symbol search field to blank */
    searchClear.onclick = function() {
        searchInput.value = ""
    }

    /* Clears the value of numStrikes (only the reset fields button will */
    /* return this field to the default value of 10) */
    numStrikesClear.onclick = function() {
        numStrikesInput.value = ""
    }

    /* Enables numStrikes if strike is empty otherwise make it disabled */
    strikeInput.onkeyup = function() {
        if (event.keyCode == 8 || event.charCode == 46) {
            numStrikesInput.disabled = false
        }
        numStrikesInput.disabled = (this.value != "")
    }

    /* Disables strike field if range is anything but "ALL" */
    rangeInput.oninput = function() {
        strikeInput.disabled = (this.value != "ALL")
    }

    /* Re-enables numStrikes field if date is deleted and disables expMonth */
    /* field if a date is enetered */
    fromDateInput.oninput = function() {
        if (event.keyCode == 8 || event.charCode == 46) {
            numStrikesInput.disabled = false
        }
        expMonthInput.disabled = (this.value != "")
    }

    /* Resets the value of fromDate's input and re-enables expMonth field if */
    /* both from and to date are empty */
    fromDateClear.onclick = function() {
        fromDateInput.value = ""
        expMonthInput.disabled = (toDateInput.value != "")
    }

    /* Same as fromDateInput's oninput event but for toDateInput */
    toDateInput.oninput = function() {
        if (event.keyCode == 8 || event.charCode == 46) {
            numStrikesInput.disabled = false
        }
        expMonthInput.disabled = (this.value != "")
    }

    /* Same as fromDateClear's onclick event but for toDateClear */
    toDateClear.onclick = function() {
        toDateInput.value = ""
        expMonthInput.disabled = (fromDateInput.value != "")
    }

    /* Re-enables numStrikesInput, fromDateInput, and toDateInput if needed */
    expMonthInput.oninput = function() {
        fromDateInput.disabled = (this.value != "ALL")
        toDateInput.disabled = (this.value != "ALL")
    }
</script>
{% endblock %}